<% include ./header %>
<!--背景-->
<div class="wel" id="background-3"></div>
<!--左右两边云-->
<div class="wel" id="box">
    <div class="box-1 lefp"></div>
    <div class="box-1">
        <div class="righp"></div>
    </div>
</div>
<!--荧光点点-->
<div class="wel" id="git"></div>
<!--登录注册表-->
<div class="wel" id="from">
    <div class="box-2 le-1">
        <form action="" method="post">
            <div class="flrg">
                    <h3>登录</h3>
                <div class="a">
                    <!--<label>账号：</label>-->
                    <input type="text" class="in-1" placeholder="请输入账号">
                </div>
                <div class="a">
                    <!--<label>密码：</label>-->
                    <input type="password" class="in-1" placeholder="请输入密码">
                </div>
                <div class="a">
                    <button type="button">登录</button>
                </div>
                <div class="a">
                    <div class="hr"></div>
                </div>
                <div class="a">
                    <a href="#">忘记密码？</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<% include ./footer %>