<% include ./header %>
</head>
<body>
<!--背景-->
<div class="wel" id="background-3"></div>
<!--左右两边云-->
<div class="wel" id="box">
    <div class="box-1 lefp"></div>
    <div class="box-1">
        <div class="righp"></div>
    </div>
</div>
<!--荧光点点-->
<div class="wel" id="git"></div>
<div class="wel" id="from">
    <div class="box-2 le-2">
        <form action="" method="post">
            <div class="flrg-1">
                <h3>注册</h3>
                <div class="a">
                    <input type="text" class="in-1" placeholder="您的用户名">
                </div>
                <div class="a">
                    <input type="password" class="in-1" placeholder="输入密码">
                </div>
                <div class="a">
                    <input type="password" class="in-1" placeholder="再次确认密码">
                </div>
                <div class="a">
                    <input type="text" class="in-1" placeholder="输入手机号码">
                </div>
                <div class="a">
                    <input type="email" class="in-1" placeholder="输入邮箱地址">
                </div>
                <div class="a">
                    <button type="button">注册</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<% include ./footer %>